.btn {
    display: block;
    height: 55px;
    width: 125px;
    margin-bottom: 1%;
    line-height: 1.4;
    font-size: 16px;
    font-weight: bold;
}

.row {
    width: 100%;
}

.boxes {
    display: flex;
    flex: 1;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    transition: all 1.4s ease;
}

.box {
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
    transition: all 1.5s ease;
    display: inline-block;
}

.bigger {
    transform: scale(1.3);
    margin: 10px;
}

.box:hover {
    background: #000;
}

.box-red {
    background: #f00;
}

.box-blue {
    background: #00f;
}

.box-green {
    background: #008100;
}

.box-purple {
    background: #810081;
}

.box-gold {
    background: #ffa600;
}