.container {
    margin:0 0 0 0;
}
.header {
    margin: 0 0 50px 0;
}
.box {
    border: 1px solid #000;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}
#boxes {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    font-weight: bold;
    color: #FFF;
    padding: 15px;


}
.box:nth-child(4) {
    clear: left;
}
.box-red {
    background-color: #F00;
}
.box-orange {
    background-color: #f36d0e;
}
.box-yellow {
    background-color: #FF0;
}
.box-green {
    background-color: #006700;
}
.box-blue {
    background-color: #00F;
}
.box-violet {
    background-color: #fb00ff;
}
.box-text {

}

.box-img {
    position: relative;
    top: -40px;
    right: -30px;
}